@mixin tarjeta-index {
    @media(min-width:250px) and (max-width:700px){
        @content;
    }
}


@mixin tarjeta-index__lg{
    @media(min-width:576px) and (max-width:930px){
        @content;
    }
}

@mixin tarjeta-index__HandY($width:300px,$height:500px){
    width:$width;
    height:$height;
}