.fotofondocontacto{
    background-image: url(../assets/fotocontactofondo01.jpg);
    height: 70vh;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top;
}
