.fotofondocontacto{
    background-image: url(../assets/fotocontactofondo01.jpg);
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
}
form{
    color: white;
    font-family: 'Saira', sans-serif;
    height: auto;
    width: auto;
    margin :0 auto;
    padding: 2rem;
    background : rgba(128, 128, 128, 0.49);
    & div h1{
        align-items: center;
    }
}
.div-dentro-del-form{
    display: flex;
    flex-direction: column;
}
.contacto-form{
    padding: 0;
    margin: 15px;
    display: flex;
    gap: 15px;
}

.formcontacto{
    
    height: auto;
    width: 400px;
}

.btnform{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(225, 85, 85, 0.615);
    width: 200px;
    padding: 10px;
}