.fondodebarradenav{
    background-color: coral;
    background-image: url(../assets/Fotonavajadfondonav.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}

.barnav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    ul{
        background-color: $color-marron;
        border-radius: 20px;
        li{
            padding-inline: 10px;
            a{
                color: white;
                padding: 10px;
                font-family: 'Saira', sans-serif;
                font-size: 1rem;
                }
            }
        }
    }
.barnav__animacion{
    a{
        &:hover{
            color: black;
            transform: scale(1.2);
        }
    }
}
@media(min-width:0px) and (max-width:992px){
    .barnav{
        ul{
            width: 100%;
            text-align: center;
        }
    }
}

