.categorias-footer {
    text-decoration: none;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__li a {
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
    }
}

.bg-color {
    background-color: rgb(152, 152, 152);
}

.footer-texto {
    font-family: 'Orbitron', sans-serif;

}

@media(min-width:992px) {
    .footer-h {
        height: auto;
    }

    .footer-contenido {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}