form {
    color: white;

    & div h1 {
        align-items: center;
    }
}

.bg-color {
    background: #8080807d;
    border-radius: 20px;
    padding: 10px;
}

.form-control {
    &:focus {
        box-shadow: 0 0 0 .25rem rgba(204, 63, 63, 0.28);
        border: rgba(225, 85, 85, 0.615);
    }
}