
form{
    color: white;
    font-family: 'Saira', sans-serif;
    & div h1{
        align-items: center;
    }
}
.bg-color{
    background : rgba(128, 128, 128, 0.49);
    border-radius: 20px;
    padding: 10px;
}


.btnform{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(225, 85, 85, 0.615);
    width: auto;
    padding: 10px;
}
.form-control{
&:focus{
    box-shadow: 0 0 0 .25rem rgba(204, 63, 63, 0.28);
    }
}