.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
@media(min-width:250px) and (max-width:576px){
    .logo{
        width: auto;
        height: 100px;
    }
    .logo img{
        width: 100px;
        height: 60px;
    }
    .contenedorLogo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:flex-start;
    }
}
@media(min-width:576px) and (max-width:1023px){
    .contenedorLogo{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo img{
        width: 190px;
    }
}