* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: rgba(0, 0, 0, 0.779);
    overflow: auto;
}